*.debug
*.log

*.xmsgs
*_summary.html
*_summary.xml
*_usage.xml
*.xreport
*.cmd_log
*.gise
*.lso
*.ngc
*.ngr
*.prj
*.stx
*.sry
*.syr
*.xst
*_envsettings.html
*_vhdl.prj
*_xst.xrpt
*_pn.xml
*.projectmgr
*.ref
*.vho
*.bld
*.ncd
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.xpi
*_map.map
*_map.mrp
*_map.ncd
*_map.ngm
*_map.xrpt
*_ngdbuild.xrpt
*.lst
*_pad.csv
*_pad.txt
*.xbcd
*_par.xrpt
*.ppr
*.bgn
*.drc
*.ut
*_bitgen.xwbt
*_webtalk.html
*_ngc_zx.edif
*fileset.xml
*_impact.xwbt
impl_*.psg
planAhead.jou
fileset.xml
runs.xml
project.wpc
webtalk_*.xml