NET "ram1addr[17]" LOC = H17;
NET "ram1addr[16]" LOC = H16;
NET "ram1addr[15]" LOC = H15;
NET "ram1addr[14]" LOC = H14;
NET "ram1addr[13]" LOC = G16;
NET "ram1addr[12]" LOC = G15;
NET "ram1addr[11]" LOC = G14;
NET "ram1addr[10]" LOC = G13;
NET "ram1addr[9]" LOC = F18;
NET "ram1addr[8]" LOC = F17;
NET "ram1addr[7]" LOC = F15;
NET "ram1addr[6]" LOC = F14;
NET "ram1addr[5]" LOC = E16;
NET "ram1addr[4]" LOC = E15;
NET "ram1addr[3]" LOC = D17;
NET "ram1addr[2]" LOC = D16;
NET "ram1addr[1]" LOC = C18;
NET "ram1addr[0]" LOC = C17;
NET "sw[15]" LOC = J6;
NET "sw[14]" LOC = J7;
NET "sw[13]" LOC = K2;
NET "sw[12]" LOC = K7;
NET "sw[11]" LOC = M1;
NET "sw[10]" LOC = N1;
NET "sw[9]" LOC = N2;
NET "sw[8]" LOC = R1;
NET "sw[7]" LOC = R4;
NET "sw[6]" LOC = U1;
NET "sw[5]" LOC = V2;
NET "sw[4]" LOC = V3;
NET "sw[3]" LOC = V4;
NET "sw[2]" LOC = U8;
NET "sw[1]" LOC = R7;
NET "sw[0]" LOC = T7;
NET "rst" LOC = U10;
NET "comclk" LOC = B8;
NET "data_ready" LOC = A16;
NET "ram1en" LOC = M15;
NET "ram1oe" LOC = M16;
NET "ram1we" LOC = M18;
NET "rdn" LOC = C14;
NET "tbre" LOC = D14;
NET "tsre" LOC = N9;
NET "wrn" LOC = U5;

# PlanAhead Generated physical constraints 

NET "ram1data[15]" LOC = M14;
NET "ram1data[14]" LOC = M13;
NET "ram1data[13]" LOC = L18;
NET "ram1data[12]" LOC = L17;
NET "ram1data[11]" LOC = L16;
NET "ram1data[10]" LOC = L15;
NET "ram1data[9]" LOC = K15;
NET "ram1data[8]" LOC = K14;
NET "ram1data[7]" LOC = K13;
NET "ram1data[6]" LOC = K12;
NET "ram1data[5]" LOC = J17;
NET "ram1data[4]" LOC = J16;
NET "ram1data[3]" LOC = J15;
NET "ram1data[2]" LOC = J14;
NET "ram1data[1]" LOC = J13;
NET "ram1data[0]" LOC = J12;
